*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --text-white: #fff;
}
#footer{
    background-color: #e65b00;
    text-align: center;
    padding: 20px 0;
}
#footer h2{
    font-size: 2rem;
    color: var(--text-white);
}
.footer-description{
    color: var(--text-white);
    width: 60%;
    display: block;
    margin: 20px auto;
}
.social ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.social ul li{
    cursor: pointer;
    border: 1px solid var(--text-white);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.social ul li i{
   font-size: 1.4rem;
   color: var(--text-white);
}
.footer-bottom{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}
.footer-bottom a{
    text-decoration: none;
    line-height: 35px;
    color: rgb(23,23,137);
}
.right a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
}
@media screen and (max-width: 560px){
    .footer-bottom{
        justify-content: center;
    }
    .footer-description{
        width: 90%;
    }

}
